<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrase</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div class="container">
      <form id="registerForm">
        <input type="text" name="nombre" placeholder="Nombre" required />
        <input type="email" name="email" placeholder="Email" required />
        <input
          type="password"
          name="password"
          placeholder="Contraseña"
          required
        />
        <button type="submit">Registrarse</button>
        <a href="/login.html">Iniciar Sesion</a>
      </form>
    </div>

    <script>
      document
        .getElementById("registerForm")
        .addEventListener("submit", async (e) => {
          e.preventDefault();
          const data = Object.fromEntries(new FormData(e.target).entries());
          await fetch("/auth/register", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data),
          });
          location.href = "/login.html";
        });
    </script>
  </body>
</html>
